
@font-face {
  font-family: 'AktivGrotesk';
  src: url('../fonts/AktivGrotesk-Black.ttf') format('truetype');
  font-weight: 900;
}
@font-face {
  font-family: 'AktivGrotesk';
  src: url('../fonts/AktivGrotesk-Bold.ttf') format('truetype');
  font-weight: 700;
}
@font-face {
  font-family: 'AktivGrotesk';
  src: url('../fonts/AktivGrotesk-Regular.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'AktivGrotesk';
  src: url('../fonts/AktivGrotesk-Light.ttf') format('truetype');
  font-weight: 200;
}
@font-face {
  font-family: 'AktivGrotesk';
  src: url('../fonts/AktivGrotesk-Medium.ttf') format('truetype');
  font-weight: 500;
}
:root {
    --main-font:'AktivGrotesk',sans-serif;

    --font-size:1rem;
    --font-height:1.6rem;
    --font-weight:500;
    --red-color:#b40003;
    --light-color:#f3f1ec;
    --blue-color:#100134;
    --green-color:#11845b;

    --button-font-size:0.8rem;
    --button-line-height:1.6rem ;

    --subhead-font-size:1.1rem;
    --subhead-font-height:1.4rem;
    --subhead-font-weight:300;

    --head-font-size:1.6rem;
    --head-font-weight:500;
    --head-font-line-height:2rem;
    --head-font-color:#100134;

    --blue-transparent:#10013414;

}



select,input[type="text"],textarea{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.form-field-text-input:focus,.form-field-textarea-input:focus{
    outline: none;
}
.form-field-text-input:focus::placeholder,.form-field-textarea-input:focus::placeholder {
  color: transparent;
}
.form-field-text-input::placeholder,.form-field-textarea-input::placeholder{
    font-family: var(--main-font);
    font-size: var(--font-size);
    font-weight: 500;
    line-height: var(--font-height);
    color: #10013450;
}
.select-dropdown,.form-field-text-input,.form-field-textarea-input{
    padding: 9px 15px;
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    line-height: var(--font-height);
    width: 100%;
    max-width: 300px;
    border-radius: 4px;
    border: .5px solid var(--blue-color);
}
select.select-dropdown {
  background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 20px) calc(1em + 3px) ,
    calc(100% - 15px) calc(1em + 3px),
    calc(100% - 2.5em);
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
}

select.select-dropdown:focus {
  background-image:
    linear-gradient(45deg, green 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, green 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 2.5em);
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
  border-color: green;
  outline: 0;
}


select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}




fieldset{
    border:none !important;
}
*{
    padding: 0;
    margin: 0;
}
ul{
    list-style-type:none !important;
}
a{
    text-decoration: none !important;
}
.copyright-txt{
    padding: 16px 0;
    font-weight: 400;
    font-family: var(--main-font);
    font-size: 0.8rem;
    align-items: center;
    line-height: 1.6rem;
    color: #333333;
}
.vue-form-header{
    display: grid;
    justify-items:center;
    align-items: center;
}
.vue-form-footer{
    display: grid;
    justify-items:center;
    align-items: center;
    align-self: end;
}
.main-container-calculator, .main-container-result{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 16px;
    box-sizing: border-box;
}

.vue-form-container{
    padding:40px 20px;;
    position: relative;
    margin:auto 0;
    display: grid;
    align-content:center;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 16px;
    width: 100%;
    height: 80vh;
    max-width: 450px;
    max-height: 550px;
    border-radius: 4px;
    box-shadow: 0 4px 12px 0 rgba(0,0,0,.1);
    box-sizing: border-box;
}
#vue-form-wrapper{
    align-self:self-start;
}
.vue-form-wrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    gap: 16px;
    width: 100%;
}

.vue-form-header{
    padding: 10px 0;
    height: 100%;
    box-sizing: border-box;
}
.form-text-header{
    padding: 10px 0;
    font-size: var(--head-font-size);
    line-height: var(--head-font-line-height);
    font-weight: var(--head-font-weight);
    text-align: center;
    font-family: var(--main-font);
    color: var(--head-font-color);
}

.form-text-sub-header{
    padding: 10px 0;
    font-size: var(--subhead-font-size);
    line-height: var(--subhead-font-height);
    font-weight: var(--subhead-font-weight);
    text-align: center;
    font-family: var(--main-font);
    color: var(--head-font-color);
}





/*-------------custom select input--------------*/

.form-input-select:checked,
.form-input-select:not(:checked) {
    display: none;
}
.form-input-select:checked + label.form-select-label,
.form-input-select:not(:checked) + label.form-select-label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: var(--font-height);
    font-family: var(--main-font);
    font-weight: var(--font-weight);
    display: inline-block;
    color: var(--blue-color);
}
.form-input-select:checked + label.form-select-label:before,
.form-input-select:not(:checked) + label.form-select-label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 2px;
    width: 18px;
    height: 18px;
    border: 1px solid var(--blue-transparent);
    border-radius: 4px;
    background: transparent;
}
.form-input-select:checked + label.form-select-label:after,
.form-input-select:not(:checked) + label.form-select-label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: var(--blue-color);
    position: absolute;
    top: 6px;
    left: 4px;
    border-radius: 4px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.form-input-select:not(:checked) + label.form-select-label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
.form-input-select:checked + label.form-select-label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.field-element{
    width: 100%;
    max-width: 250px;
    padding: 10px 0;
}
#form-select-container-col{
    overflow-y: scroll;
    max-height: 225px;
    height: 100%;
    box-sizing: border-box;

}
#form-select-container-row{
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
}


/*-------------END custom select input--------------*/
.form-field-container,.form-select-container{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    flex:1;
}
.button-wrapper{
    display: grid;
    justify-items:center;
    align-items: center;
    grid-template-columns:1fr 1fr;
    grid-gap: 16px;
    width: 100%;
    flex:1;
}
.form-button{
    font-weight: var(--head-font-weight);
    font-family: var(--main-font);
    line-height: var(--button-line-height);
    font-size: var(--button-font-size);
    padding: 9px 15px;
    border-radius: 4px;
    text-transform: uppercase;
    box-sizing: border-box;
    border:none !important;
    background: var(--blue-color);
    color: var(--light-color);
    justify-self: start;
}
.form-button-next{
    font-weight: var(--head-font-weight);
    font-family: var(--main-font);
    font-size: var(--button-font-size);
    padding: 9px 15px;
    line-height: var(--button-line-height);
    border-radius: 4px;
    text-transform: capitalize;
    border:none !important;
    background: var(--red-color);
    color: var(--light-color);
}
.button-red{
    background: var(--red-color);
    justify-self: end;
}

/*------form animation-------*/
.form-slide-fade-enter-active,
.form-slide-fade-leave-active{
    transition: all .3s ease;

}

.form-slide-fade-enter,
.form-slide-fade-to{
    transform: translateX(20px);
    opacity: 0;
}

.other-element-enter-active,
.other-element-leave-active {
  transition: all 0.5s ease;
}
.other-element-enter-from,
.other-element-leave-to {
  transform: scale(0);
}
/*------END form animation-------*/
/*------result-------*/
.vue-result-container{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 30px 20px 20px 20px;
    box-sizing: border-box;
}
.vue-result-wrapper{
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 700px;
    width: 100%;
}
.container-result{
    padding: 40px 20px;
    position: relative;
    display: grid;
    align-content:center;
    grid-gap: 16px;
    border-radius: 4px;
    box-shadow: 0 4px 12px 0 rgba(0,0,0,.1);
    box-sizing: border-box;
}
.claims-container{
    margin: 20px 0;
    display: flex;
    align-content:center;
    gap: 16px;
    width: 100%;
    box-sizing: border-box;
}
.legend-container{
    display: flex;
    align-content:center;
    gap: 20px;
    width: 100%;
    box-sizing: border-box;
}

.contact-form-container{
    width: 100%;
    max-width: 400px;
    border-radius: 4px;
    border: 1px solid #10013450;
    padding: 30px 20px;
}



.form-text-input{
    margin: 10px 0;
    padding: 8px 15px;
    font-size: 0.9rem;
    font-weight: var(--font-weight);
    line-height: 1rem;
    width: 100%;
    border-radius: 4px;
    border: .5px solid var(--blue-color);
    box-sizing: border-box;
}
button.card-button-start-claims{
    margin-top: 10px;
}
.form-text-input:focus{
    outline: none;
}
.form-text-input:focus::placeholder {
  color: transparent;
}
.form-text-input::placeholder{
    font-family: var(--main-font);
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1rem;
    color: #10013450;
}

.result-card-claims{
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex: 1;
    box-shadow: 0 4px 12px 0 rgba(0,0,0,.1);
    box-sizing: border-box;
    max-height: 500px;
    padding: 30px 20px;
}
.result-large-text{
    font-family: var(--main-font);
    font-size: 2rem;
    font-weight: 700;
    line-height: 2rem;
    color: var(--red-color);
}
.head-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about-info-container{
    margin-top: 40px;
}
.logo-and-recovered-container{
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 40px;
    box-sizing: border-box;
    width: 100%;
}
.result-card-icon{
    height: 50px;
    width: 50px;
}
#arrow-icon-card{
    height: 38px;
    width: 38px;
}
.result-text-card-head{
    font-size: 1.1rem;
    line-height: var(--head-font-line-height);
    font-weight: 500;
    font-family: var(--main-font);
    color: var(--head-font-color);
    text-transform: uppercase;
}
.card-footer{
    display: flex;
    justify-content: center;
    margin-top: 20px;

}
.result-blue-button{
    background: var(--blue-color);
}
.result-red-button{
    background: var(--red-color);
}
.result-green-button{
    background: var(--green-color);
}
.card-button-start-claims{
    font-weight: 500;
    width: fit-content;
    font-family: var(--main-font);
    line-height: 1rem;
    font-size: var(--button-font-size);
    padding: 9px 30px;
    border-radius: 4px;
    text-transform: uppercase;
    box-sizing: border-box;
    border:none !important;
    color: var(--light-color);
}
.body-card{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.body-card-item{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
    box-sizing: border-box;
}
.logo-flint{
    width: 100%;
    max-width: 300px;
}
.result-small-text{
    font-size: 0.8rem;
    line-height: var(--font-height);
    font-weight: 400;
    text-align: left;
    font-family: var(--main-font);
    color: var(--head-font-color);
    text-transform: capitalize;
}
.compensation-text{
    font-size: 1rem;
    line-height: var(--font-height);
    font-weight: 500;
    text-align: left;
    font-family: var(--main-font);
 }
.head-container-info{
    width: 100%;
    box-sizing: border-box;
}
.result-text-header{
    padding: 10px 0;
    font-size: var(--head-font-size);
    line-height: var(--head-font-line-height);
    font-weight: var(--head-font-weight);
    text-align: center;
    font-family: var(--main-font);
    color: var(--head-font-color);
}

.result-text-sub-header{
    padding: 10px 0;
    font-size: 1rem;
    line-height: var(--subhead-font-height);
    font-weight: 300;
    text-align: center;
    font-family: var(--main-font);
    color: var(--head-font-color);
}
.result-normal-text{
    margin: 20px 0;
    font-size: 1rem;
    line-height: var(--subhead-font-height);
    font-weight: 300;
    font-family: var(--main-font);
    color: var(--head-font-color);
}
.result-red-text{
   color: var(--red-color);
}
.result-large-head{
    margin: 20px 0;
    font-family: var(--main-font);
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: var(--blue-color);

}
.calculator-result-page-head,.calculator-page-head{
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    width: 100%;
    box-sizing: border-box;
}
.logo-header-page{
    height: 30px;
    width: 30px;
}
.logo-text-link{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s;
    font-family: var(--main-font);
    color: #100134;
    font-size: .9rem;
    line-height: 1rem;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
}
.logo-text-link:hover{
    color: var(--red-color)
}
.container-logo-page{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;
}
.logo-flint-header-page{
    height: 15px;
    margin: auto 0;
}


/*----------------@POPUP------------*/
.overlay-for-popup{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top:0;
    left: 0;
    padding: 20px;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.8);
    z-index: 999;
    box-sizing: border-box;
}
.popup-claims-email-container{
    position: relative;
    width: 100%;
    max-width: 500px;
    border-radius: 4px;
    box-shadow: 0 4px 12px 0 rgba(0,0,0,.1);
    box-sizing: border-box;
    padding: 40px 20px;
    background: #ffffff;
}
.popup-claims-email-wrapper{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.exit-popup{
    position: absolute;
    right: 15px;
    top: 15px;
    display: flex;
    justify-content: end;
    align-items: center;
}
.exit-popup-svg{
    height: 12px;
    width: 12px;

}
#vue-form-container-form{
    max-height: 400px;
    grid-template-rows: 1fr;

}
.email-form-wrapper{
    max-width: 350px;
}

/*----------------@media------------*/
@media only screen and (max-width: 760px) {
.body-card-item,.head-card, .logo-and-recovered-container{
    flex-direction: column;
}
    .result-card-claims{
        max-height: none;
    }
    #arrow-icon-card{
        height: 20px;
        width: 20px;
    }

}

@media only screen and (max-width: 560px) {
    .claims-container{
        flex-direction: column;
    }
    .body-card-item,.head-card{
        flex-direction: row;
    }
    .legend-container{
        flex-direction: column;
    }
    .contact-form-container{
        min-width:0;
        box-sizing: border-box;
    }


}

@media only screen and (max-width: 380px) {
#resultPage{
    padding: 0;
}
        .button-wrapper{
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr;
            grid-template-rows:1fr 1fr;
    grid-gap: 16px;
    width: 100%;
    flex: 1;
    }
    .button-red{
    justify-self: center;
    }
    .form-button{
       justify-self: center;
    }
    #form-select-container-col{
        padding: 0 20px;
    }
    .vue-form-container{
        padding: 40px 20px;

    }


}