{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href={% static "common/css/main.css"%}>
    <link rel="shortcut icon" href="{%  static 'common/favicon.ico' %}">
    <meta charset="UTF-8">
    <title>ASBX.ORG Asbestos Exposure Case Value Calculator</title>
    <meta content=“ASBX.ORG Asbestos Exposure Case Value Calculator” name=“description”>
    <meta content=“ASBX.ORG Asbestos Exposure Case Value Calculator” property=“og:title”>
    <meta content=“ASBX.ORG Asbestos Exposure Case Value Calculator” property=“og:description”>
    <meta content=“ASBX.ORG Asbestos Exposure Case Value Calculator” property=“twitter:title”>
    <meta content=“ASBX.ORG Asbestos Exposure Case Value Calculator” property=“twitter:description”>

	<title>ASBX.ORG Asbestos Exposure Case Value Calculator</title>
    <meta content="ASBX.ORG Asbestos Exposure Case Value Calculator" name="description">
    <meta content="ASBX.ORG Asbestos Exposure Case Value Calculator" property="og:title">
    <meta content="ASBX.ORG Asbestos Exposure Case Value Calculator" property="og:description">
    <meta content="ASBX.ORG Asbestos Exposure Case Value Calculator" property="twitter:title">
    <meta content="ASBX.ORG Asbestos Exposure Case Value Calculator" property="twitter:description">
</head>
<body>
{% block header %}
{% endblock %}
{% block content %}
{% endblock %}
<div class="copyright-txt" id="copyright-txt"></div>
<script type="application/javascript" src={% static "common/js/main.js"%}></script>
</body>
</html>